header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

i {
    font-size: 1.2rem;
    color: var(--white);
}

.logo {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 40%;
    height: auto;
}

.logo-text {
    font-size: 1rem;
    color: var(--white);
    padding-left: 20px;
}

.social-media {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

i:hover {
    color: var(--gold);
}