.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--shadow);
    position: fixed;
    top: 0;
}

.modal-content {
    width: 25vw;
    height: 70vh;
    background-color: var(--shade);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 30px 10px;
    align-items: center;
}