@import url("reset.css");
@import url("header.css");
@import url("section-main.css");
@import url("buttons.css");
@import url("footer.css");
@import url("copyright.css");

body {
    background-image: url("../img/universo-bg.jpg");
    background-size: cover;
    font-family: var(--font-text);
}

:root {

    /*Fonts*/
    --font-text: 'Star Wars', sans-serif;

    /*Colors*/

    --white: #ffffff;
    --gold: #ffd700;
    --shadow: #00000080;
    --dark: #000000;

}