@import url("reset.css");

body {
    background-image: url("../img/universo-bg.jpg");
    background-size: cover;
    font-family: var(--font-text);
   
}


:root {

    --font-text: 'Star Wars', sans-serif;







}